@page
@model BeerComp.Pages.ScoreCards.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ScoreCard</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreCard.TasteScore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoreCard.TasteScore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreCard.LookScore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoreCard.LookScore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreCard.OtherScore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoreCard.OtherScore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreCard.OverallScore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoreCard.OverallScore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreCard.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoreCard.Comments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreCard.VoterID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoreCard.VoterID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreCard.EntryID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoreCard.EntryID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ScoreCard.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
